<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title>Full Stack JavaScript Application</title>
  <style>
    html, body {
      height: 100%;
      background-color: #f5f5f5; /* Light gray background */
    }
  </style>
</head>
<body class="has-background-light">
    <section class="hero">
        <div class="hero-body">
          <p class="title">Software security</p>
          <p class="subtitle">Unsecure Full Stack JavaScript Application</p>
        </div>
      </section>
    <section class="section">
      <div class="container">
        <div class="box">
        <h1 class="title is-4 has-text-centered">Welcome!</h1>
        <p>Glad to have you here. Enjoy fixing the application!</p>
        </div>
        <div class="box">
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/apis">API listing - only for logged in users</a></li>
        </ul>
        </div>
      </div>
    </section>
</body>
</html>