<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">

  <title>Login</title>
  <style>
    html, body {
      height: 100%;
      background-color: #f5f5f5; /* Light gray background */
    }
  </style>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="box">
        <h2 class="title is-4 has-text-centered">Login</h2>
        <form action="/login" method="POST">
          <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
              <input class="input" type="email" id="email" name="email" required placeholder="Enter your email">
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
              <input class="input" type="password" id="password" name="password" required placeholder="Enter your password">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary is-fullwidth">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
</html>